@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.mobile-screens{
    text-align: center;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
}

.carousel{
    margin-top: 30px;
}

.carousel img{
    border-radius: 10px;
  
}

.carousel-img{
    transition: box-shadow 0.3s ease-in-out;
}
.carousel-img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}