@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.footer-section {
    background-color: #121212;
}
.footer-container{
    padding: 40px 40px;
}
.contact-us {
    text-align: center;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #fff;
}
@media (max-width:769px){
    .contact-us{
        font-size: 30px;
    }
}
@media (max-width:769px){
    .ant-row{
        display: flex;
        justify-content: center;
    }
}

.contact-box {
    margin-top: 30px;
}

.menu-item {
    display: inline;
    padding: 10px;
}

@media (max-width:769px){
    .menu-item{
        padding: 5px;
    }
}

.menu-item a {
    font-size: 15px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}

@media (max-width:769px){
    .menu-item a{
        font-size: 12px;
    }
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link {
    padding: 20px;
}

.copyright{
    margin-top: 30px;
}
.copyright p{
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright p a{
    text-decoration: none;
    color: #fff;
}


