@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    /* background-color: #fff; */
}

.navbar-container {
    padding: 10px 40px;
}

.logo img {
    width: 100%;
    height: 28px;
}

@media (max-width:1025px) {
    .logo img {
        display: none;
    }
}


.col-left {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
}

@media (max-width:1025px) {
    .col-left {
        display: flex;
        justify-content: flex-start;
    }
}

.navbar-items {
    width: 100%;
}

@media (max-width:1025px) {
    .navbar-items {
        display: none;
    }
}

.navbar-items ul {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

.navbar-items ul li a {
    font-family: Montserrat;
    font-size: 14;
    color: #0d0c22;
    font-weight: 600;
}

.col-right {
    gap: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width:1025px) {
    .col-right {
        display: none;
    }
}


.search-bar input {
    border: 1px solid #1e81b0;
    width: 40%;
}

.auth-buttons {
    gap: 10px;
    display: flex;
}

.login-button {
    border-radius: 50px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}


.signup-button {
    border-radius: 50px;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}


.wishlist,
.cart {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}




/* responsive navbar */

.responsive-navbar {
    display: none;
    width: 100%;
}
@media (max-width:1025px) {
    .responsive-navbar {
        display: flex;
    }
}

.menu-icon{
    background-color: #1e81b0;
    border-radius: 10px; /* Adjust the border radius as needed */
    padding: 10px; /* Adjust the padding as needed */
    display: inline-block; /* Ensure the container only takes up the necessary space */
  }

.responsive-logo img{
    display: flex;
   align-items: center;
    height: 28px;
}